<script type="text/javascript">
  $(document).ready(function() {
    function readURL(input) {

      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#newimage').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#sliderimg").change(function() {
      readURL(this);
    });
    $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $('.custom').html(fileName);
    });
  });

   
</script>
<div class="wrapper ">
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">ADD SLIDER IMAGE</h4>
              </div>
              <div class="card-body">
                <%= form_with(model: slider, local: true) do |form| %>
                  <% if slider.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(slider.errors.count, "error") %> prohibited this slider from being saved:</h2>

                      <ul>
                      <% slider.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="row">
                    <div class="col-md-2">
                      <label>Current image</label>
                      <% if slider.present? %>
                        <%= image_tag(slider.image, class: "img-thumbnail", alt: "Cinque Terre") %>
                      <% end %>
                    </div>
                    <div class="col-md-2">
                      <label>New image</label>
                      <img id="blah" src="" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-3">
                         <span class="btn btn-default btn-file">
                        Browse <%= form.file_field :image, class: "form-control", id: "imgInp" %>
                      </span>
                      </div>
                      <div class="col-md-3">
                        <img id="newimage" src="" />
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="field">
                        <label>Heading</label>
                        <%= form.text_field :heading, class: "form-control", placeholder: "Heading"  %>
                      </div>  
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="field">
                        <label>Description</label>
                        <%= form.text_area :description, class: "form-control", placeholder: "Description" %>
                      </div>  
                    </div>
                  </div>
                  
                  <%= form.submit "submit", class: "btn btn-primary pull-right"%>
                  <div class="clearfix"></div>
                <% end %>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
   
  </div>
</div>
