<div class="wrapper ">
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">ADD SLIDER</h4>
              </div>
              <div class="card-body">
                <%= form_with(model: slider, local: true) do |form| %>
                  <% if slider.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(slider.errors.count, "error") %> prohibited this slider from being saved:</h2>

                      <ul>
                      <% slider.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="field">
                    <%= form.label :image %>
                    <%= form.file_field :image, class: "form-control" %>
                  </div>
                  <div class="field">
                    <%= form.label :heading %>
                    <%= form.text_field :heading, class: "form-control" %>
                  </div>

                  <div class="field">
                    <%= form.label :description %>
                    <%= form.text_area :description, class: "form-control" %>
                  </div>

                  <%= form.submit "submit", class: "btn btn-primary pull-right"%>
                  <!-- <button type="submit" class="btn btn-primary pull-right">Update Profile</button> -->
                  <div class="clearfix"></div>
                <% end %>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
   
  </div>
</div>
