<p id="notice"><%= notice %></p>

<h1>Sliders</h1>

<table>
  <thead>
    <tr>
      <th>Heading</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
  </tbody>
</table>

<br>

<%= link_to 'New Slider', new_slider_path %>


<div class="wrapper ">
    
    <div class="main-panel">
      <!-- Navbar -->
      
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <div class="row">
                    <div class="col-md-10">
                      <h4 class="card-title">SLIDER PHOTOS</h4>
                      <p class="card-category">Brand slider</p>
                    </div>
                    <div class="col-md-2">
                      <%= link_to 'Add photo', new_slider_path, class: "btn btn-primary btn-sm" %>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <% @sliders.each do |slider| %>
                              <%= image_tag(slider.image, class: "img-thumbnail", alt: "Cinque Terre", width: "236", height: "236") %>
                              <%= slider.heading %>
                              <%= slider.description %>
                              <%= link_to 'Show', slider %>
                              <%= link_to 'Edit', edit_slider_path(slider) %>
                              <%= link_to 'Destroy', slider, method: :delete, data: { confirm: 'Are you sure?' } %>
                               <br>
                          <% end %>
                         
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
     
    </div>
  </div>
