<p id="notice"><%= notice %></p>

<p>
  <strong>Heading:</strong>
  <%= @slider.heading %>
</p>

<p>
  <strong>Description:</strong>
  <%= @slider.description %>
</p>

<%= link_to 'Edit', edit_slider_path(@slider) %> |
<%= link_to 'Back', sliders_path %>
