<div class="wrapper ">
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <div class="row">
                  <div class="col-md-11">
                    <h4 class="card-title">NEWS</h4>
                  </div>
                  <div class="col-md-1">
                    <%= link_to '', new_news_first_path, class: "fa fa-plus", style: "color: white; border: 1px solid; padding: 9px; float: right;" %>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <% @news_firsts.each do |news_first| %>
                        <div class="col-md-4 logo-container">
                          <%= image_tag(news_first.image, class: "img-thumbnail", alt: "Cinque Terre", width: "236", height: "236") %>
                          <div class="middle">
                            <h3><%= news_first.heading %></h3>
                            <br/>
                            <p><%= news_first.description %></p>
                            <br/>
                            <%= link_to 'Change', edit_news_first_path(news_first), class: "btn btn-dark" %>
                            <%= link_to 'Remove', news_first, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
