<div class="wrapper ">
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">ADD LATEST NEWS</h4>
              </div>
              <div class="card-body">
                <%= form_with(model: news_latest, local: true) do |form| %>
                  <% if news_latest.errors.any? %>
                    <div id="error_explanation">
                      <ul>
                      <% news_latest.errors.full_messages.each do |message| %>
                        <li class="alert"><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="row">
                    <div class="col-md-2">
                      <label>Current image</label>
                      <% if news_latest.present? %>
                        <%= image_tag(news_latest.image, class: "img-thumbnail", alt: "Cinque Terre") %>
                      <% end %>
                    </div>
                    <div class="col-md-2">
                      <label>New image</label>
                      <img id="blah" src="" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-3">
                         <span class="btn btn-default btn-file">
                        Browse <%= form.file_field :image, class: "form-control", id: "imgInp" %>
                      </span>
                      </div>
                      <div class="col-md-3">
                        <img id="newimage" src="" />
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <%= form.label :description %>
                    <%= form.text_field :description, class: "form-control" %>
                  </div>

                  <div class="field">
                    <%= form.label :name %>
                    <%= form.text_field :name, class: "form-control" %>
                  </div>
                  <%= form.submit "Add", class: "btn btn-primary pull-right"%>
                  <div class="clearfix"></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

