<div class="wrapper ">
    
    <div class="main-panel">
      <!-- Navbar -->
      
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <div class="row">
                    <div class="col-md-10">
                      <h4 class="card-title">LATEST NEWS</h4>
                      <p class="card-category">news</p>
                    </div>
                    <div class="col-md-2">
                      <%= link_to 'Add News', new_news_latest_path, class: "btn btn-primary btn-sm" %>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <table>
                          <thead>
                            <th>FIRST NEWS</th>
                          </thead>
                          <tbody>
                            <% @news_latests.each do |news_latest| %>
                              <tr>
                                <td><%= image_tag(news_latest.image, class: "img-thumbnail", alt: "Cinque Terre", width: "236", height: "236") %>
                                <td><%= news_latest.description %></td>
                                <td><%= news_latest.name %></td>
                                <td><%= link_to 'Show', news_latest %></td>
                                <td><%= link_to 'Edit', edit_news_latest_path(news_latest) %></td>
                                <td><%= link_to 'Destroy', news_latest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
     
    </div>
  </div>
