<div class="wrapper ">
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">ADD TRAINING BLOG</h4>
              </div>
              <div class="card-body">
                <%= form_with(model: footerlink, local: true) do |form| %>
                  <% if footerlink.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(footerlink.errors.count, "error") %> prohibited this footerlink from being saved:</h2>

                      <ul>
                      <% footerlink.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="field">
                    <%= form.label :name %>
                    <%= form.text_field :name, class: "form-control" %>
                  </div>
                  <%= form.submit "Add", class: "btn btn-primary pull-right"%>
                  <div class="clearfix"></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

