<p id="notice"><%= notice %></p>

<h1>Training Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @training_blogs.each do |training_blog| %>
      <tr>
        <td><%= training_blog.description %></td>
        <td><%= training_blog.name %></td>
        <td><%= link_to 'Show', training_blog %></td>
        <td><%= link_to 'Edit', edit_training_blog_path(training_blog) %></td>
        <td><%= link_to 'Destroy', training_blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Training Blog', new_training_blog_path %>
