<div class="wrapper ">
    
    <div class="main-panel">
      <!-- Navbar -->
      
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">ADD LOGO</h4>
                  <p class="card-category">Brand logo</p>
                </div>
                <div class="card-body">
                  <%= form_with(model: news_second, local: true) do |form| %>
                    <% if news_second.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(news_second.errors.count, "error") %> prohibited this news_second from being saved:</h2>

                        <ul>
                        <% news_second.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <div class="field">
                      <%= form.label :image %>
                      <%= form.file_field :image %>
                    </div>
                    <div class="field">
                      <%= form.label :heading %>
                      <%= form.text_field :heading %>
                    </div>

                    <div class="field">
                      <%= form.label :description %>
                      <%= form.text_field :description %>
                    </div>
                    <%= form.submit "Add", class: "btn btn-primary pull-right"%>
                    <div class="clearfix"></div>
                  <% end %>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
     
    </div>
  </div>

