<div class="wrapper ">
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">ADD TRAINING VIDEO</h4>
              </div>
              <div class="card-body">
                <%= form_with(model: training_video, local: true) do |form| %>
                  <% if training_video.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(training_video.errors.count, "error") %> prohibited this training_video from being saved:</h2>

                      <ul>
                      <% training_video.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="field">
                    <%= form.label :image %>
                    <%= form.file_field :image, class: "form-control" %>
                  </div>
                  <div class="field">
                    <%= form.label :link %>
                    <%= form.text_field :link, class: "form-control" %>
                  </div>
                  <div class="field">
                    <%= form.label :caption %>
                    <%= form.text_field :caption, class: "form-control" %>
                  </div>
                  <%= form.submit "Add", class: "btn btn-primary pull-right"%>
                  <div class="clearfix"></div>
                <% end %>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
   
  </div>
</div>

