<div class="breadcrumb-section jarallax pixels-bg" data-jarallax data-speed="0.6">
        <div class="container text-center">
            <h1>Careers</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
    </div>
   
   <div class="section-block">
   <div class="container">
      <div class="row">
         <div class="col-md-5 col-sm-5 col-12">
            <div class="dots-bg mt-40">
               <div class="section-heading text-left">
                  <small class="primary-color">We have best experts in the field</small> 
                  <h3 class="semi-bold">Knowing more about business, consumers and society. </h3>
                  <div class="section-heading-line line-thin"></div>
                  <div class="mt-30"> <a href="#" class="button-simple">Become a client <i class="fa fa-arrow-right primary-color"></i></a> </div>
               </div>
            </div>
         </div>
         <div class="col-md-7 col-sm-7 col-12">
            <div class="pl-45-md">
               <div class="row">
                  <div class="col-md-6 col-sm-6 col-12">
                     <div class="features-box-3 text-left">
                        <div class="features-box-3-icon"> <i class="icon-development"></i> </div>
                        <h4>Trading &amp; Stocking</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-12">
                     <div class="features-box-3 text-left">
                        <div class="features-box-3-icon"> <i class="icon-marketing"></i> </div>
                        <h4>Technological Advising</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-12">
                     <div class="features-box-3 text-left">
                        <div class="features-box-3-icon"> <i class="icon-chess"></i> </div>
                        <h4>Creative Solutions</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-12">
                     <div class="features-box-3 text-left">
                        <div class="features-box-3-icon"> <i class="icon-start"></i> </div>
                        <h4>Consumer Products</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


       <div class="section-block">
         <div class="container">
            <div class="row">
               <div class="col-md-7 col-sm-7 col-12"><%= image_tag("c-11.jpg",class:"rounded-border", alt: "") %></div>
               <div class="col-md-5 col-sm-5 col-12">
                  <div class="pl-30-md">
                     <div class="section-heading mt-30">
                        <small>Fiancial Services</small> 
                        <h4 class="semi-bold"><a href="#">We Focus On Brands, Products & Marketing</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                     </div>
                     <a href="#" class="button-md button-grey-bordered mt-20">Learn More</a> 
                  </div>
               </div>
            </div>
            <div class="row reverse-xs mt-70">
               <div class="col-md-5 col-sm-5 col-12">
                  <div class="pr-30-md">
                     <div class="section-heading mt-30">
                        <small>Business Services</small> 
                        <h4 class="semi-bold"><a href="#">We provide the solutions to grow your business</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                     </div>
                     <a href="#" class="button-md button-grey-bordered mt-20">Learn More</a> 
                  </div>
               </div>
               <div class="col-md-7 col-sm-7 col-12"><%= image_tag("c-12.jpg", class:"rounded-border", alt: "") %></div>
            </div>
            <div class="row mt-70">
               <div class="col-md-7 col-sm-7 col-12"><%= image_tag("c-13.jpg", class:"rounded-border", alt: "") %> </div>
               <div class="col-md-5 col-sm-5 col-12">
                  <div class="pl-30-md">
                     <div class="section-heading mt-30">
                        <small>Marketing Services</small> 
                        <h4 class="semi-bold"><a href="#">Helping clients win and keep customers - profitably!</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                     </div>
                     <a href="#" class="button-md button-grey-bordered mt-20">Learn More</a> 
                  </div>
               </div>
            </div>
         </div>
      </div>
	
	
	<div class="section-block">
   <div class="container">
      <div class="row">
         <div class="col-md-4 col-sm-12 col-12">
            <div class="contact-box-info-4">
               <i class="icon-phone-book"></i> 
               <h4>Telephone</h4>
               <p>Please call or email contact form and we will be happy to assist you.</p>
               <h5><%= Logo.last.contact %></h5>
            </div>
         </div>
         <div class="col-md-4 col-sm-12 col-12">
            <div class="contact-box-info-4 contact-box-info-4-center">
               <i class="icon-mail-envelope-opened-outlined-interface-symbol"></i> 
               <h4>E-mail</h4>
               <p>Please call or email contact form and we will be happy to assist you.</p>
               <h5><%= Logo.last.email %></h5>
            </div>
         </div>
         <div class="col-md-4 col-sm-12 col-12">
            <div class="contact-box-info-4">
               <i class="icon-pin"></i> 
               <h4>Our Location</h4>
               <p>Please call or email contact form and we will be happy to assist you.</p>
               <h5><%= Logo.last.location %></h5>
            </div>
         </div>
      </div>
   </div>
</div>

