<div class="breadcrumb-section jarallax pixels-bg" data-jarallax data-speed="0.6">
        <div class="container text-center">
            <h1>Sales Marketing</h1>
            <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><a href="#">Pages</a></li>
                <li><a href="blog-list.html">Sales Marketing</a></li>
            </ul>
        </div>
    </div>
  
        <div class="section-block grey-bg">
         <div class="background-shape bs-right"></div>
         <div class="container">
            <div class="section-heading text-center">
               <h3 class="semi-bold font-size-35">Market your business to own your market</h3>
               <div class="section-heading-line line-thin"></div>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<br>ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <div class="row mt-40">
               <div class="owl-carousel owl-theme services-carousel-2">
                  <div class="service-block-2">
                     <%= image_tag("s4.jpg", alt: "image") %>
                     <div class="service-block-2-content">
                        <h4><a href="#">Administrative Assistant</a></h4>
                        <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</strong> <a href="#" class="service-block-2-btn">Learn more <i class="fa fa-arrow-right primary-color"></i></a> 
                     </div>
                  </div>
                  <div class="service-block-2">
                     <%= image_tag("s5.jpg", alt: "image") %>
                     <div class="service-block-2-content">
                        <h4><a href="#">Quality Control Coordinator</a></h4>
                        <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</strong> <a href="#" class="service-block-2-btn">Learn more <i class="fa fa-arrow-right primary-color"></i></a> 
                     </div>
                  </div>
                  <div class="service-block-2">
                     <%= image_tag("s6.jpg", alt: "image") %>
                     <div class="service-block-2-content">
                        <h4><a href="#">Financing Management</a></h4>
                        <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</strong> <a href="#" class="service-block-2-btn">Learn more <i class="fa fa-arrow-right primary-color"></i></a> 
                     </div>
                  </div>
                  <div class="service-block-2">
                     <%= image_tag("s1.jpg", alt: "image") %>
                     <div class="service-block-2-content">
                        <h4><a href="#">Insurance Investigator</a></h4>
                        <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</strong> <a href="#" class="service-block-2-btn">Learn more <i class="fa fa-arrow-right primary-color"></i></a> 
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
	  
	  <div class="section-block-parallax jarallax black-overlay-70" data-jarallax="" data-speed="0.6" style="background-image: none; z-index: 0;" data-jarallax-original-styles="background-image: url('/assets/bg11.jpg');">
         <div class="container">
            <div class="large-heading text-center">
               <small class="semi-bold white-color">We Provide The Solutions To Grow Your Business Faster</small> 
               <h4 class="semi-bold white-color">Trusted By Over 100,000 Worldwide <br>25 Years of Experience in Business Services</h4>
               <div class="section-heading-line line-thin"></div>
            </div>
         </div>
      <div id="jarallax-container-1" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;"><div style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url('/assets/bg11.jpg'); position: absolute; top: 0px; left: 0px; width: 1903px; height: 474.8px; overflow: hidden; pointer-events: none; margin-top: 90.6px; transform: translate3d(0px, -170.169px, 0px);"></div></div></div>
	  

<div class="section-block">
         <div class="container">
            <div class="row">
               <div class="col-md-5 col-sm-5 col-12">
                  <div class="dots-bg mt-40">
                     <div class="section-heading text-left">
                        <small class="primary-color">We have best experts in the field</small> 
                        <h3 class="semi-bold">Knowing more about business, consumers and society. </h3>
                        <div class="section-heading-line line-thin"></div>
                        <div class="mt-30"> <a href="#" class="button-simple">Become a client <i class="fa fa-arrow-right primary-color"></i></a> </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-7 col-sm-7 col-12">
                  <div class="pl-45-md">
                     <div class="row">
                        <div class="col-md-6 col-sm-6 col-12">
                           <div class="features-box-3 text-left">
                              <div class="features-box-3-icon"> <i class="icon-development"></i> </div>
                              <h4>Trading &amp; Stocking</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                           </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-12">
                           <div class="features-box-3 text-left">
                              <div class="features-box-3-icon"> <i class="icon-marketing"></i> </div>
                              <h4>Technological Advising</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                           </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-12">
                           <div class="features-box-3 text-left">
                              <div class="features-box-3-icon"> <i class="icon-chess"></i> </div>
                              <h4>Creative Solutions</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                           </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-12">
                           <div class="features-box-3 text-left">
                              <div class="features-box-3-icon"> <i class="icon-start"></i> </div>
                              <h4>Consumer Products</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>