<div class="breadcrumb-section jarallax pixels-bg" data-jarallax data-speed="0.6">
        <div class="container text-center">
            <h1>Research Team</h1>
            <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Research Team</a></li>
            </ul>
        </div>
    </div>
  
  <div class="section-block grey-bg">
   <div class="container">
      <div class="section-heading text-center">
         <small class="primary-color">Team</small> 
         <h3 class="semi-bold mt-0">Research Team</h3>
         <div class="section-heading-line line-thin"></div>
      </div>
      <div class="row mt-60">
         <div class="col-md-3 col-sm-6 col-12">
            <div class="team-box-3">
               <%= image_tag "t-2-1.jpg", :alt=> "team" %> 
               <div class="team-box-3-info">
                  <h4>Gunner Lang</h4>
                  <span>Marketing Manager</span> 
                 
               </div>
            </div>
         </div>
         <div class="col-md-3 col-sm-6 col-12">
            <div class="team-box-3">
               <%= image_tag "t-2-3.jpg", :alt=> "team" %> 
               <div class="team-box-3-info">
                  <h4>Eleanor Cherry</h4>
                  <span>Marketing Manager</span> 
                 
               </div>
            </div>
         </div>
         <div class="col-md-3 col-sm-6 col-12">
            <div class="team-box-3">
               <%= image_tag "t-2-2.jpg", :alt=> "team" %>  
               <div class="team-box-3-info">
                  <h4>Roland Hartman</h4>
                  <span>Marketing Manager</span> 
                 
               </div>
            </div>
         </div>
         <div class="col-md-3 col-sm-6 col-12">
            <div class="team-box-3">
               <%= image_tag "t-2-4.jpg", :alt=> "team" %> 
               <div class="team-box-3-info">
                  <h4>Lillian Gibbs</h4>
                  <span>Marketing Manager</span> 
                 
               </div>
            </div>
         </div>
      </div>
	  
	  <div class="row mt-60">
         <div class="col-md-3 col-sm-6 col-12">
            <div class="team-box-3">
               <%= image_tag "t-2-1.jpg", :alt=> "team" %> 
               <div class="team-box-3-info">
                  <h4>Gunner Lang</h4>
                  <span>Marketing Manager</span> 
                 
               </div>
            </div>
         </div>
         <div class="col-md-3 col-sm-6 col-12">
            <div class="team-box-3">
               <%= image_tag "t-2-3.jpg", :alt=> "team" %>  
               <div class="team-box-3-info">
                  <h4>Eleanor Cherry</h4>
                  <span>Marketing Manager</span> 
                 
               </div>
            </div>
         </div>
         <div class="col-md-3 col-sm-6 col-12">
            <div class="team-box-3">
               <%= image_tag "t-2-2.jpg", :alt=> "team" %>  
               <div class="team-box-3-info">
                  <h4>Roland Hartman</h4>
                  <span>Marketing Manager</span> 
                 
               </div>
            </div>
         </div>
         <div class="col-md-3 col-sm-6 col-12">
            <div class="team-box-3">
               <%= image_tag "t-2-4.jpg", :alt=> "team" %> 
               <div class="team-box-3-info">
                  <h4>Lillian Gibbs</h4>
                  <span>Marketing Manager</span> 
                 
               </div>
            </div>
         </div>
      </div>
	  
	  
   </div>
</div>