<style type="text/css">
  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 2px;
    margin-bottom: 10px;
}
</style>

<div id="preloader">
  <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
  </div>
</div>
<div id="top-bar" class="hidden-md-down">
  <div class="container">
      <div class="row">
          <div class="col-md-9 col-12">
              <ul class="top-bar-info">
                  <li><i class="fa fa-phone"></i> Phone: +1234567890</li>
                  <li><i class="fa fa-map-marker"></i>Jaipur</li>
                  <li><i class="fa fa-envelope"></i>Email: demo@email.com</li>
              </ul>
          </div>
          <div class="col-md-3 col-12">
              <ul class="social-icons hidden-sm">
                <% if user_signed_in? %>
                  <li><%= link_to "logout", destroy_user_session_path(@user), method: :delete, style: "pull-right" %></li>
                <% else %>
                  <li><%= link_to "login", new_user_session_path %></li>
                  <li><%= link_to "sigup", new_user_registration_path %></li>
                <% end %>
            </ul>
         </div>
      </div>
   </div>
</div>
<header>
  <nav id="navigation4" class="container navigation">
    <div class="nav-header">
      <a class="nav-brand" href=""><%= image_tag(@logos.last.image, :width => '70px', class: "main-logo", :alt=> "logo", id: "main_logo") %></a>
      <div class="nav-toggle"></div>
    </div>
    <div class="nav-menus-wrapper">
      <ul class="nav-menu align-to-right">
        <%= @menus.each do |menu| %> 
          <li><a href="#"><%= menu.name %></a></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
<div class="rev_slider_wrapper">
  <div id="rev_slider" class="rev_slider fullscreenbanner">
    <ul>
      <%= @sliders.each do |slider| %>
        <li data-delay="5000" data-transition="slotzoom-horizontal" data-slotamount="7" data-masterspeed="1000" data-fsmasterspeed="1000">
          <%= image_tag (slider.image), class: "rev-slidebg", :alt=> "slider" %>
            <div class="slide-title tp-caption tp-resizeme white-color text-center" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-90','-90', '-150', '-350']" data-fontsize="['70','70', '70', '125']" data-fontweight="600" data-lineheight="['85','85', '80', '135']" data-width="['800','800','650']" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="500" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05"><%= slider.heading %></div>
            <div class="slide-subtitle tp-caption tp-resizeme white-color text-center" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['45','45', '15', '15']" data-fontsize="['18', '18', '18', '18']" data-fontweight="300" data-lineheight="['30']" data-width="['1000','1000','550']" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1200;e:Power1.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1500" data-splitin="none" data-splitout="none"><%= slider.description %></div>
            <div class="tp-caption rev-btn tp-resizeme button-white-bordered" id="slide-1081-layer-12" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['125','125','125','30']" data-fontsize="['15','15','15','15']" data-fontweight="600" data-lineheight="['50','50','50','50']" data-width="['200','200','200','200']" data-height="none" data-borderWidth="2" data-whitespace="nowrap" data-start="1500" data-type="button" data-actions='[{"event":"click","action":"scrollbelow","offset":"-70px","delay":"","speed":"1000","ease":"Power1.easeInOut"}]' data-responsive_offset="on" data-splitin="none" data-splitout="none" data-frames='[{"delay":900,"speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:10px;fbr:100;","to":"o:1;fb:0;fbr:100;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;fbr:100;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;fbr:110%;","style":"c:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="">Keep Going</div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="section-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
          <div class="tradingview-widget-container__widget"></div>
          <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
            "symbols": [
              {
                "description": "BSE",
                "proName": "NSE:BSE"
              },
              {
                "description": "RCOM",
                "proName": "NSE:RCOM"
              },
              {
                "description": "SENSEX",
                "proName": "BSE:SENSEX"
              },
              {
                "description": "TATAMOTORS",
                "proName": "NSE:TATAMOTORS"
              }
            ],
            "theme": "light",
            "isTransparent": false,
            "displayMode": "compact",
            "locale": "in"
              }
          </script>
        </div>
      <!-- TradingView Widget END -->
      </div>
    </div>
  </div>
</div>
<div class="section-block grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-12">
        <div class="col-lg-12 col-md-6 col-sm-6 col-12">
          <div class="features-box">
            <% @news_firsts.last(1).each do |news_first| %>
              <div class="features-box-icon">
                <%= image_tag (news_first.image), class: "shadow-primary rounded-border", :alt=> "img", style: "width: 1000px; height: 202px" %>
              </div>
              <div class="features-box-content">
                <h2><%= news_first.heading %></h2>
                <p><%= news_first.description %></p>
              </div>
            <% end %>
            <div class="row mt-50">
              <div class="owl-carousel owl-theme services-carousel-2">
                <% @news_firsts.each do |news_first| %>
                  <div class="service-block-2">
                    <%= image_tag (news_first.image), style: "width: 400px; height: 128px" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-12">
        <div class="pl-45-md">
          <div class="section-heading text-left mt-5">
              <div class="row"> 
                <div class="top-news mt-20">
                  <% @stock_market_updates.each do |stock| %>
                    <div class="top-news-info">
                      <div class="row">
                        <div class="col-md-4 col-sm-4 col-12 pr-0">
                          <%= image_tag (stock.image), style: "width: 300px; height: 108px" %>
                        </div>
                        <div class="col-md-8 col-sm-8 col-12">
                          <h3><a href="#"><%= stock.description %></a></h3>
                          <h6><%= stock.created_at.strftime("%d/%m/%y") %></h6> 
                        </div>
                      </div>
                    </div>
                  <% end %>  
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="section-block">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-12">
        <div class="pl-45-md">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Market Data</span></a> by Stride</div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
            {
            "showChart": true,
            "locale": "in",
            "largeChartUrl": "",
            "width": "400",
            "height": "660",
            "plotLineColorGrowing": "rgba(33, 150, 243, 1)",
            "plotLineColorFalling": "rgba(33, 150, 243, 1)",
            "gridLineColor": "rgba(233, 233, 234, 1)",
            "scaleFontColor": "rgba(131, 136, 141, 1)",
            "belowLineFillColorGrowing": "rgba(5, 122, 205, 0.12)",
            "belowLineFillColorFalling": "rgba(5, 122, 205, 0.12)",
            "symbolActiveColor": "rgba(225, 239, 249, 1)",
            "tabs": [
              {
                "title": "Indices",
                "symbols": [
                  {
                    "s": "INDEX:SPX",
                    "d": "S&P 500"
                  },
                  {
                    "s": "INDEX:XLY0",
                    "d": "Shanghai Composite"
                  },
                  {
                    "s": "INDEX:DOWI",
                    "d": "Dow 30"
                  },
                  {
                    "s": "INDEX:NKY",
                    "d": "Nikkei 225"
                  },
                  {
                    "s": "NSE:BSE",
                    "d": "BSE"
                  }
                ],
                "originalTitle": "Indices"
              },
              {
                "title": "Commodities",
                "symbols": [
                  {
                    "s": "CME_MINI:ES1!",
                    "d": "E-Mini S&P"
                  },
                  {
                    "s": "CME:E61!",
                    "d": "Euro"
                  },
                  {
                    "s": "COMEX:GC1!",
                    "d": "Gold"
                  },
                  {
                    "s": "NYMEX:CL1!",
                    "d": "Crude Oil"
                  },
                  {
                    "s": "NYMEX:NG1!",
                    "d": "Natural Gas"
                  },
                  {
                    "s": "CBOT:ZC1!",
                    "d": "Corn"
                  }
                ],
                "originalTitle": "Commodities"
              },
              {
                "title": "Bonds",
                "symbols": [
                  {
                    "s": "CME:GE1!",
                    "d": "Eurodollar"
                  },
                  {
                    "s": "CBOT:ZB1!",
                    "d": "T-Bond"
                  },
                  {
                    "s": "CBOT:UD1!",
                    "d": "Ultra T-Bond"
                  },
                  {
                    "s": "EUREX:GG1!",
                    "d": "Euro Bund"
                  },
                  {
                    "s": "EUREX:II1!",
                    "d": "Euro BTP"
                  },
                  {
                    "s": "EUREX:HR1!",
                    "d": "Euro BOBL"
                  }
                ],
                "originalTitle": "Bonds"
              },
              {
                "title": "Forex",
                "symbols": [
                  {
                    "s": "FX:EURUSD"
                  },
                  {
                    "s": "FX:GBPUSD"
                  },
                  {
                    "s": "FX:USDJPY"
                  },
                  {
                    "s": "FX:USDCHF"
                  },
                  {
                    "s": "FX:AUDUSD"
                  },
                  {
                    "s": "FX:USDCAD"
                  }
                ],
                "originalTitle": "Forex"
              }
            ]
          }
        </script>
      </div>
      <!-- TradingView Widget END -->
      <!-- <canvas class="chartjs mt-30-xs" id="chart-1" height="370px"></canvas> -->
    </div>
  </div>
      <div class="col-md-7 col-sm-7 col-12">
        <div class="section-heading text-left">
          <h3 class="semi-bold"><span class="primary-color">Latest News</span></h3>
          <div class="section-heading-line line-thin"></div>
        </div>
        <div class="text-content mt-15">
          <div class="col-md-12 col-sm-12 col-12">
            <div class="">
              <div class="row">
                <% @news_latests.last(6).each do |latest_news| %>
                  <div class="col-md-6 col-sm-6 col-12">
                    <div class="top-news-info">
                      <div class="row">
                        <div class="col-md-4 col-sm-4 col-12 pr-0">
                          <%= image_tag (latest_news.image), class: "round", style: "width: 300px; height: 100px" %>
                        </div>
                        <div class="col-md-8 col-sm-8 col-12 ">
                          <p class="strdenews"><a href="#"><%= latest_news.description %></a></p>
                          <h3><a href="#"><%= "By " + latest_news.name %></a></h3>
                          <h6><%= latest_news.created_at.strftime("%d/%m/%y") %></h6> </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-block-parallax jarallax" data-jarallax data-speed="0.6" style="background-color: #445698;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-12">
        <br><br>
        <div class="row mt-10">
          <div class="owl-carousel owl-theme services-carousel-2">
            <% @training_videos.each do |training_video| %>
              <div class="service-block-2">
                <%= link_to image_tag(training_video.image, style: "width: 300px; height: 180px"), training_video.link %>
                <div class="service-block-2-content">
                  <h4><%= training_video.caption %></h4>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12 bg offset-md-1">
        <div class="top-news mt-20">
          <% @training_blogs.last(3).each do |blog| %>
            <div class="top-news-info">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-12 pr-0">
                  <%= image_tag (blog.image), class: "stride-blog" %>
                </div>
                <div class="col-md-8 col-sm-8 col-12">
                  <h3><a href="#"><%= blog.description %></a></h3>
                  <p class="stride-blog-name"><%= "By " + blog.name %></p>
                  <h6 class="stride-blog-date"><%= blog.created_at.strftime("%d/%m/%y") %></h6> </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-block">
  <div class="container">
    <div class="section-heading text-center">
      <h3 class="semi-bold">Recent News</h3>
      <div class="section-heading-line line-thin dark-bg"></div>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
      <br>ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p> -->
    </div>
    <div class="row mt-50">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-12">
          <% @news_seconds.last(1).each do |news_second| %>
            <div class="blog-grid">
              <div class="blog-team-box">
                <h6><%= news_second.created_at.strftime("%d/%m/%y") %></h6>
              </div>
              <h4><a href="#"><%= news_second.heading %></a></h4>
              <p><%= news_second.description %></p>
              <a href="#" class="button-simple-primary mt-20">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          <% end %>
        </div>
        <div class="col-md-6 col-sm-6 col-12">
          <div class="row">
            <% if @news_seconds.length == 5 %>
              <% @news_seconds.last(5).each do |news_second| %>
                <div class="col-md-6 col-sm-6 col-12">
                  <div class="blog-grid">
                    <%= image_tag (news_second.image), style: "width: 300px; height: 180px" %>
                    <div class="blog-team-box">
                      <h6><%= news_second.created_at.strftime("%d/%m/%y") %></h6>
                    </div>
                    <h4><a href="#"><%= news_second.heading %></a></h4>
                    <p><%= news_second.description %></p>
                    <a href="#" class="button-simple-primary mt-20">Read More <i class="fa fa-arrow-right"></i></a>
                  </div>
                </div>
              <% end %>
            <% else %>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="footer-1">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
          <a href="#"><%= image_tag(@logos.last.image, :width => '70px', class: "main-logo", :alt=> "logo", id: "footer_logo") %></a>
          <p class="mt-20"><%= @logos.last.about %></p>
          <ul class="social-links-footer">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <h2>Extra Links</h2>
          <div class="row mt-25">
            <div class="col-md-6 col-sm-6">
              <ul class="footer-nav">
                <!-- <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Our approach</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Consulting</a></li>
                <li><a href="#">Latest News</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Our team</a></li>
                 -->
                 <% @footerlinks.all.each do |footer| %>
                  <li><a href="#"><%= footer.name %></a></li>
                  <% end %>
              </ul>
            </div>
            
            </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <h2>Recent news</h2>
                        <ul class="footer-news mt-25">
                            <% @stock_market_updates.last(2).each do |stock| %>
                              <li> <a href="#"><%= stock.description %></a> <strong><i class="fa fa-calendar"></i><%= stock.created_at.strftime("%d/%m/%y") %></strong> </li>
                            <% end %>
                            
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <h2>Subscribe</h2>
                        <form class="footer-subscribe-form mt-25">
                            <div class="d-table full-width">
                                <div class="d-table-cell">
                                    <input type="text" placeholder="Your Email adress"> </div>
                                <div class="d-table-cell">
                                    <button type="submit"><i class="fa fa-envelope"></i></button>
                                </div>
                            </div>
                        </form>
                        <p class="mt-10">Get latest updates and offers.</p>
                    </div>
                </div>
                <div class="footer-1-bar">
                    <center>SpecThemes © 2019. All Rights Reserved.</center>
                </div>
            </div>
        </div>
    </footer>
