<div class="breadcrumb-section jarallax pixels-bg" data-jarallax data-speed="0.6">
        <div class="container text-center">
            <h1>NEWS</h1>
            <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">News</a></li>
            </ul>
        </div>
    </div>
    <div class="section-block">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-12">
                    <% @news_seconds.each do |news| %>
                        <div class="blog-list">
                            <%= image_tag(news.image) %>
                            <h4><%= news.heading %></h4>
                            <ul class="blog-list-info">
                                <li><i class="ti-user"></i><span>Admin</span></li>
                                <li><i class="ti-calendar"></i><span><%= news.created_at.strftime("%d/%m/%y") %></span></li>
                                <li><i class="ti-pin-alt"></i><span>Business</span></li>
                            </ul>
                            <p class="mt-25"><%= news.description %></p>
                            <div class="mt-5"> <a href="blog-post.html" class="button-simple mt-15">Continue Reading <i class="fa fa-arrow-right primary-color"></i></a> </div>
                        </div>
                    <% end %>
                    <div class="pagination mt-20"> <a href="#" class="active">1</a> <a href="#">2</a> <a href="#">3</a> </div>
                </div>
                <div class="col-md-3 col-sm-12 col-12">
                    <div class="blog-post-right">
                        <div id="search-input">
                            <div class="input-group">
                                <input type="text" class="form-control input-sn" placeholder="Search..." /> <span class="input-group-btn"><button class="btn btn-info btn-md" type="button"><i class="fa fa-search"></i></button> </span> </div>
                        </div>
                        <h4 class="blog-widget-title">Categories</h4>
                        <div class="blog-post-categories mt-20">
                            <ul>
                                <li><a href="#">Hot<span>05</span></a></li>
                                <li><a href="#">Business<span>25</span></a></li>
                                <li><a href="#">Resources<span>06</span></a></li>
                                <li><a href="#">Life Style<span>09</span></a></li>
                                <li><a href="#">Graphic Design<span>10</span></a></li>
                                <li><a href="#">Web Designer<span>36</span></a></li>
                                <li><a href="#">User Interface<span>17</span></a></li>
                            </ul>
                        </div>
                        <h4 class="blog-widget-title">Top News</h4>
                        <div class="top-news mt-20">
                            <% @news_latests.last(3).each do |latest_news| %>
                                <div class="top-news-info">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-12 pr-0"><%= image_tag (latest_news.image) %></div>
                                        <div class="col-md-8 col-sm-8 col-12">
                                            <h5><%= latest_news.description %></h5>
                                            <h6><%= latest_news.created_at.strftime("%d/%m/%y") %></h6>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                        <h4 class="blog-widget-title">Tags</h4>
                        <div class="recent-post-tags mt-20"> <a href="#" class="button-tag semi-rounded">Business</a> <a href="#" class="button-tag semi-rounded">Design</a> <a href="#" class="button-tag semi-rounded">Deweloper</a> <a href="#" class="button-tag semi-rounded">Design</a> <a href="#" class="button-tag semi-rounded">Business</a> <a href="#" class="button-tag semi-rounded">Design</a> <a href="#" class="button-tag semi-rounded">Deweloper</a> <a href="#" class="button-tag semi-rounded">Business</a> <a href="#" class="button-tag semi-rounded">Design</a> </div>
                        <h4 class="blog-widget-title">Archive</h4>
                        <div class="archive-box clearfix mt-10">
                            <ul>
                                <li><a href="#">July 2019</a><span>12</span></li>
                                <li><a href="#">June 2019</a><span>05</span></li>
                                <li><a href="#">May 2019</a><span>08</span></li>
                                <li><a href="#">March 2019</a><span>21</span></li>
                                <li><a href="#">April 2019</a><span>10</span></li>
                                <li><a href="#">February 2019</a><span>09</span></li>
                                <li><a href="#">January 2019</a><span>07</span></li>
                            </ul>
                        </div>
                        <h4 class="blog-widget-title">Share Links</h4>
                        <div class="blog-post-follow mt-20">
                            <ul>
                                <li class="social-link"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li class="social-link"><a href="#"><i class="fa fa-youtube"></i></a></li>
                                <li class="social-link"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="social-link"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li class="social-link"><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>