<div class="wrapper ">
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">ADD LOGO</h4>
              </div>
              <div class="card-body">
                <%= form_with(model: logo, local: true) do |form| %>
                  <% if logo.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(logo.errors.count, "error") %> prohibited this logo from being saved:</h2>

                      <ul>
                      <% logo.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class="mb-4">
                            <div class="col-md-4">
                              <%= image_tag(@logo.image) %>
                            </div>
                            <div class="col-md-4">
                              <div class="newI">
                                
                              </div>
                            </div>
                        </div>
                        <div class="btn btn-mdb-color btn-rounded float-left" onclick="newImage()">
                          <span>Add photo</span>
                          <%= form.file_field :image, class: "image" %>
                        </div>
                         
                      </div>
                    </div>
                  </div>
                  <%= form.submit "submit", class: "btn btn-primary pull-right"%>
                  <div class="clearfix"></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function newImage() {
    var image = $('.image').val();
    $('.newI').html(image);
  }
</script>