<%= form_with(model: logo, local: true) do |form| %>
  <% if logo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(logo.errors.count, "error") %> prohibited this logo from being saved:</h2>

      <ul>
      <% logo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.file_field :image %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
