<div class="wrapper ">
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">ADD LOGO</h4>
              </div>
              <div class="card-body">
                <%= form_with(model: logo, local: true) do |form| %>
                  <% if logo.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(logo.errors.count, "error") %> prohibited this logo from being saved:</h2>

                      <ul>
                      <% logo.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                          <div class="col-md-2">
                            <%= image_tag(@logo.image) %>
                          </div>
                        <div class="form-group form-file-upload form-file-multiple">
                          <input type="file" multiple="" class="inputFileHidden">
                          <div class="input-group">
                            <%= form.file_field :image %>
                              <input type="text" class="form-control inputFileVisible" placeholder="">
                              <span class="input-group-btn">
                                  <button type="button" class="btn btn-fab btn-round btn-primary">
                                      <i class="material-icons">attach_file</i>
                                  </button>
                              </span>
                          </div>
                        </div>
                        <div class="btn btn-mdb-color btn-rounded float-left">
                          <span>Add photo</span>
                          
                        </div>
                         
                      </div>
                    </div>
                  </div>
                  <%= form.submit "submit", class: "btn btn-primary pull-right"%>
                  <div class="clearfix"></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
