<script type="text/javascript">
    $(document).ready(function(){
       $('form').on('click', '.add_fields', function(event) {
            
           var time, regexp;
            time = new Date().getTime()
            regexp = new RegExp($(this).data('id'), 'g');
            $('.menus').append($(this).data('fields').replace(regexp, time));
     
        });
      

        // for remove row dynamic in quotation/new
        $('form').on('click', '.remove_record', function(event) {
            $(this).parents('.nav-item').remove();

            if ($('.remove_record').length < 2) $('.remove_record').hide();
            
        });
         




         $('form').on('click', '.remove_record', function(event) {
            $(this).parents('.subnav-item').remove();

            if ($('.remove_record').length < 2) $('.remove_record').hide();
            
        });


    });
</script>
<%= form_with(model: header, local: true) do |form| %>
  <% if header.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(header.errors.count, "error") %> prohibited this header from being saved:</h2>

      <ul>
      <% header.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.file_field :image %>
      <div class="card">
        <h4>MANU</h4>
      </div>
      <div class="row menus">
        <%= form.fields_for :navs do |nav| %>
            <div class='col-md-6 nav'>
                <%= render 'nav', f: nav  %>
            </div>
            <div class='col-md-6 subnav'>
               <%= nav.fields_for :subnavs do |subnav| %>
                    <%= render 'subnav', f: subnav  %>
               <% end %>
            </div>
            <div class="row">
               <div class="col-md-12"><%= link_to_add_subnav('', nav, :subnavs, class: 'fa fa-minus ') %></div>
            </div>
            
        <% end %>
      </div>

            

        
   
  
   
  <div class="col-md-12"> <%= link_to_add_nav('', form, :navs, class: 'fa fa-plus ') %></div>
              


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
