<p id="notice"><%= notice %></p>

<h1>Headers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @headers.each do |header| %>
      <tr>
        <td><%= image_tag (header.image), style: "width:20%" %></td>

        <td><%= link_to 'Show', header %></td>
        <td><%= link_to 'Edit', edit_header_path(header) %></td>
        <td><%= link_to 'Destroy', header, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Header', new_header_path %>
