<p id="notice"><%= notice %></p>
<%= image_tag (@header.image), style: "width:20%" %>

<% Nav.all.each do |menu| %>
	<%= menu.name %>
<% end %>




<%= link_to 'Edit', edit_header_path(@header) %> |
<%= link_to 'Back', headers_path %>
