<%= form_with(model: stock_market_update, local: true) do |form| %>
  <% if stock_market_update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock_market_update.errors.count, "error") %> prohibited this stock_market_update from being saved:</h2>

      <ul>
      <% stock_market_update.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
