<div class="wrapper ">
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <div class="row">
                  <div class="col-md-11">
                    <h4 class="card-title">NEWS</h4>
                  </div>
                  <div class="col-md-1">
                    <%= link_to '', new_stock_market_update_path, class: "fa fa-plus", style: "color: white; border: 1px solid; padding: 9px; float: right;" %>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <% @stock_market_updates.each do |stock_market_update| %>
                      <div class="col-md-4 logo-container">
                        <%= image_tag(stock_market_update.image, class: "img-thumbnail", alt: "Cinque Terre", width: "236", height: "236") %>
                        <div class="middle">
                          <p><%= stock_market_update.description %></p>
                          <br/>
                          <%= link_to '', edit_stock_market_update_path(stock_market_update), class: "fa fa-pencil" %>
                          <%= link_to '', stock_market_update, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash" %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
