<div id="preloader">
  <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
  </div>
</div>
<div id="top-bar" class="hidden-md-down">
  <div class="container">
      <div class="row">
          <div class="col-md-9 col-12">
              <ul class="top-bar-info">
                  <li><i class="fa fa-phone"></i> Phone: <%= Logo.last.contact %></li>
                  <li><i class="fa fa-map-marker"></i><%= Logo.last.location %></li>
                  <li><i class="fa fa-envelope"></i>Email: <%= Logo.last.email %></li>
              </ul>
          </div>
          <div class="col-md-3 col-12">
            <ul class="social-icons hidden-sm">
              <% if user_signed_in? %>
                <li><%= link_to "logout", destroy_user_session_path(@user), method: :delete, style: "pull-right" %></li>
              <% else %>
                <!-- <li><a href="#" data-toggle="modal" data-target="#myModal">Sign In  /  Free Sign Up</li> -->
                 <li><%= link_to "login", new_user_session_path %></li>
                <li><%= link_to "sigup", new_user_session_path %></li>
              <% end %>
             
            </ul>
          </div>
          
      </div>
   </div>
</div>
<header>
  <nav id="navigation4" class="container navigation">
    <div class="nav-header">
      <%= link_to image_tag(Logo.last.image, class: "main-logo", :alt=> "logo", id: "main_logo", style: "width: 145px; height: 50px;"), root_path, class: "nav-brand" %>
      <div class="nav-toggle"></div>
    </div>
    <div class="nav-menus-wrapper">
      <ul class="nav-menu align-to-right">
        <li><%= link_to Menu.all[0].name, root_path %></li>
        <li>
          <%= link_to Menu.all[1].name, about_path %>
          <ul class="nav-dropdown">
            <li><%= link_to Menu.all[1].submenus[0].name, about_who_we_are_path %></li>
            <li><%= link_to Menu.all[1].submenus[1].name, about_what_set_as_apart_path %></li>
            <li><%= link_to Menu.all[1].submenus[2].name, about_our_mission_path %></li>
          </ul>
        </li>
        <li>
          <%== link_to Menu.all[2].name, growth_tools_path %>
          <ul class="nav-dropdown">
            <li><%= link_to Menu.all[2].submenus[0].name, growth_tools_training_path  %></li>
            <li><%= link_to Menu.all[2].submenus[1].name, growth_tools_aif_path  %></li>
            <li><%= link_to Menu.all[2].submenus[2].name, growth_tools_hedge_fund_path %></li>
            <li><%= link_to Menu.all[2].submenus[3].name, growth_tools_financial_planning_path %></li>
          </ul>
        </li>
        <li>
          <%== link_to Menu.all[3].name, market_analysis_path %>
          <ul class="nav-dropdown">
            <li><%= link_to Menu.all[3].submenus[0].name, market_analysis_daily_updates_path %></li>
            <li><%= link_to Menu.all[3].submenus[1].name, market_analysis_statistics_path %></li>
            <li><%= link_to Menu.all[3].submenus[2].name, market_analysis_news_path %></li>
            <li><%= link_to Menu.all[3].submenus[3].name, market_analysis_strategies_path %></li>
          </ul>
        </li>
        <li>
          <%== link_to Menu.all[4].name, career_path %>
          <ul class="nav-dropdown">
            <li><%= link_to Menu.all[4].submenus[0].name, career_sales_marketing_path %></li>
            <li><%= link_to Menu.all[4].submenus[1].name, career_management_trainee_path %></li>
            <li><%= link_to Menu.all[4].submenus[2].name, career_research_team_path %></li>
          </ul>
        </li>
        <li><%== link_to Menu.all[5].name, blog_path %></li>
        <li> <%= link_to Menu.all[6].name, budget_path %></li>
        <li><%== link_to Menu.all[7].name, contact_path %></li>
      </ul>
    </div>
  </nav>
</header>