<footer>
  <div class="footer-1">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
          <a href="#"><%= image_tag(Logo.last.image, :width => '70px', class: "main-logo", :alt=> "logo", id: "footer_logo") %></a>
          <p class="mt-20"><%= Logo.last.about %></p>
          <ul class="social-links-footer">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
          <h2>Extra Links</h2>
          <div class="row mt-25">
            <div class="col-md-6 col-sm-6">
              <ul class="footer-nav">
                <!-- <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Our approach</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Consulting</a></li>
                <li><a href="#">Latest News</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Our team</a></li>
                 -->
                 <% Footerlink.all.each do |footer| %>
                  <li><a href="#"><%= footer.name %></a></li>
                  <% end %>
              </ul>
            </div>
            
            </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <h2>Recent news</h2>
                        <ul class="footer-news mt-25">
                            <% StockMarketUpdate.last(2).each do |stock| %>
                              <li> <a href="#"><%= stock.description %></a> <strong><i class="fa fa-calendar"></i><%= stock.created_at.strftime("%d/%m/%y") %></strong> </li>
                            <% end %>
                            
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <h2>Subscribe</h2>
                        <form class="footer-subscribe-form mt-25">
                            <div class="d-table full-width">
                                <div class="d-table-cell">
                                    <input type="text" placeholder="Your Email adress"> </div>
                                <div class="d-table-cell">
                                    <button type="submit"><i class="fa fa-envelope"></i></button>
                                </div>
                            </div>
                        </form>
                        <p class="mt-10">Get latest updates and offers.</p>
                    </div>
                </div>
                <div class="footer-1-bar">
                    <center>SpecThemes © 2019. All Rights Reserved.</center>
                </div>
            </div>
        </div>
    </footer>
